<form ngForm #assignmentForm class="form" (submit)="onSubmit(); assignmentForm.reset()">
  <mat-form-field>
    <input matInput [(ngModel)]="nomDevoir" name="nomDevoir">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [(ngModel)]="dateDeRendu" name="dateDeRendu" [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <p>{{nomDevoir}}</p>
  <button mat-stroked-button [disabled]="boutonDesactiver" color="primary">
    Ajouter un devoir
  </button>
</form>

<p>composant fils de gestion des assingnement! {{titre}}</p>

<mat-list *ngFor="let a of assignment">
  <h3 mat-subheader>{{a.dateDeRendu | date}} </h3>
  <mat-list-item (click)="assignmentClique(a)">
    <p *ngIf="a.rendu; else nonsoumis">
      Devoir {{a.nom}} a ete date de rendu
    </p>
    <ng-template #nonsoumis>
      <p>
        Devoir {{a.nom}} la date de rendu
      </p>
    </ng-template>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
<app-assignment-detail [assignmentTransmis]="assignementSelectionne">
</app-assignment-detail>
