
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/home">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/home">{{title}}</span>
  <span class="example-spacer"></span>
  <button *ngIf="!etat"  mat-raised-button color="primary" routerLink="/login">
    se connecter
  </button>
  <button *ngIf="etat"  mat-raised-button color="primary" routerLink="/home"  (click)="login()">
    se deconnecter
  </button>
</mat-toolbar>



<div class="container" *ngIf="assignment">
  <h1>Edition de l'assignment {{assignment.nom}}</h1>
  <form ngForm class="form" #formupdate (submit)="onSaveAssignment(); formupdate.reset(); ">
    <mat-form-field>
      <input matInput placeholder="Edition du nom" [(ngModel)]="nomAssignment" name="assignment-name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" name="date">
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="((!nomAssignment)||(!dateDeRendu))">
      Sauver
    </button>
  </form>
 </div>
